.speech {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color:black;
}
.stage-direction {
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    background-color: darkcyan;
}
.name:hover {
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.stage-direction:hover {
    background-color:chartreuse;
    color:bisque;
}
.king {
    font-size: 24px;
    color:darkorange;
}
.first{
    font-size: 23px;
    color:deeppink;
}
.second {
    font-size: 24px;
    color:firebrick;

}
.bertram {
    font-size: 25px;
    color:hotpink;
}
table,
th,
td{
    background-color: rgb(82, 17, 168);
    border:5px solid greenyellow;
    width: auto;
    margin: left;
    text-align: center;
    padding:25px;
    border-spacing: 5px;
    border-collapse: collapse;
}


